# Printing

In [2]:
print('hello')

hello

In [3]:
print("hello")

hello

# variables

In [4]:
# var is memory location 
age=20
name="VNIT"

In [5]:
age

20

In [7]:
name

'VNIT'

# Multiple assigement

In [8]:
Ajay, Rajesh, Sumit=31,32,33

In [9]:
Rajesh

32

In [10]:
Ajay=Rajesh=Sumit=19

In [11]:
Rajesh

19

In [12]:
Name, Age= 'VNIT',30

In [14]:
print(Name)
print(Age)

VNIT
30

# Operator

In [15]:
age1,age2=30,20

In [16]:
age1+age2

50

In [17]:
age1-age2

10

In [18]:
age1*age2

600

In [19]:
age1/age2

1.5

In [20]:
age1%age2 # Modulus  or remainder

10

In [21]:
fname='VNIT'
lname='Nagpur'

In [22]:
fname+lname

'VNITNagpur'

In [23]:
fname+ " " +lname

'VNIT Nagpur'

In [24]:
fname-lname # Error

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [25]:
fname*10

'VNITVNITVNITVNITVNITVNITVNITVNITVNITVNIT'

In [30]:
sentence='Hi this is VNIT'

In [31]:
print(sentence)

Hi this is VNIT

In [33]:
sentence[0]

'H'

In [34]:
sentence[0:4] # from 0 to 3 excluding last 4

'Hi t'

In [35]:
sentence[-1] # last charcter in string

'T'

# Place Holder in string

In [40]:
Sent="%s is in Nagpur"

%s

In [41]:
Sent

'%s is in Nagpur'

In [42]:
Name="VNIT"

In [43]:
Sent%Name  # here % is rplace that holder variable name like in C print(" %s is my name", name)

'VNIT is in Nagpur'

In [45]:
Sent%("PCE")   # here % is used for direct value

'PCE is in Nagpur'

In [48]:
Sent="%s %s is in Nagpur"  # Two % %

In [49]:
Sent%("Mahal","Ravi nagar")

'Mahal Ravi nagar is in Nagpur'

# with %d

In [50]:
sent1=" %s is %d year old"

In [51]:
sent1%("Rajesh",30)   #

' Rajesh is 30 year old'

# List

In [52]:
fname=["Rajesh","Rohit","Samir"]

In [53]:
fname

['Rajesh', 'Rohit', 'Samir']

In [55]:
print(fname[1],fname[0],fname[2])

Rohit Rajesh Samir

In [56]:
num1=[2,4,6,8,10,13,15,17]

In [58]:
num1[0:3]

[2, 4, 6]

add item to list b>>> append

In [62]:
num1.append(19) # only one item append

In [60]:
num1

[2, 4, 6, 8, 10, 13, 15, 17, 19]

In [63]:
num1.append(19,20) # try to append two numbers >>>> error

TypeError: append() takes exactly one argument (2 given)

In [66]:
num1[0]=5  # midify the list using index

In [67]:
num1

[5, 4, 6, 8, 10, 13, 15, 17, 19, 19]

# delete the item from list

In [69]:
del num1[2]   # delete the 3rd item or 2nd index item from list

In [70]:
num1

[5, 4, 10, 13, 15, 17, 19, 19]

# length of list  using len()

In [105]:
len(num1)

8

In [107]:
num5=['rajehs',10]

In [108]:
num5

['rajehs', 10]

# adding two list

In [74]:
num2=[3,3,3,3,3]

In [76]:
num1+num2  # adding at the end of first lsit

[5, 4, 10, 13, 15, 17, 19, 19, 3, 3, 3, 3, 3]

In [79]:
num3=num1+num2

In [80]:
num3

[5, 4, 10, 13, 15, 17, 19, 19, 3, 3, 3, 3, 3]

In [82]:
num4=num2*2

In [83]:
num4

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

# Max and min in list

In [84]:
max(num1)

19

In [85]:
min(num1)

4

# Dictionaries Key Value

In [86]:
studnets=["Rajesh",15,"Rahul",18,"Rohit",20]

In [87]:
studnets

['Rajesh', 15, 'Rahul', 18, 'Rohit', 20]

In [89]:
studnets_dict= {"Rajesh" :15,"Rahul":18,"Rohit":20}

In [92]:
studnets_dict["Rajesh"]

15

# Update the value using key

In [94]:
studnets_dict["Rajesh"]=22

In [95]:
studnets_dict

{'Rajesh': 22, 'Rahul': 18, 'Rohit': 20}

# delete the item from dict

In [96]:
del studnets_dict["Rajesh"]

In [97]:
studnets_dict

{'Rahul': 18, 'Rohit': 20}

In [98]:
len(studnets_dict)

2

In [100]:
studnets_dict= {"Rajesh" :15,"Rajesh":18,"Rohit":20}

In [101]:
studnets_dict

{'Rajesh': 18, 'Rohit': 20}

# Tuple

In [122]:
tup1=('Nagpur','Warangal','Raipur')

In [123]:
tup1

('Nagpur', 'Warangal', 'Raipur')

In [125]:
tup1[0:2]

('Nagpur', 'Warangal')

In [104]:
tup1[0]

'Nagpur'

In [110]:
tup2=('Rajesh',10)

In [111]:
tup2

('Rajesh', 10)

In [112]:
tup2[0]="Rahul"  # error not able to modify the tuple suing index

TypeError: 'tuple' object does not support item assignment

In [113]:
type(num1)

list

In [114]:
type(num5)

list

In [115]:
type(tup2)

tuple

In [116]:
type(studnets_dict)

dict

# delete the tuple

In [117]:
del tup1(0)  # Not able to delete the tuple item by index

SyntaxError: cannot delete function call (<ipython-input-117-af0c47edf81f>, line 1)

In [118]:
del tup1

In [119]:
tup1

NameError: name 'tup1' is not defined

# conditinal statement if esle

In [131]:
if(10>2):
    print(" This is True cond")

True

In [127]:
num=11
if num%2==0:
    print("even")
else:
    print("Odd")

Odd

In [132]:
3==2

False

In [133]:
3>2

True

In [134]:
3>=2

True

In [135]:
5=3

SyntaxError: cannot assign to literal (<ipython-input-135-349482d019ab>, line 1)

In [140]:
age=12
if(age<13):
    print(" young")
elif(age>13 and age <18):
    print("teenager")
else:
    print("Adult")

 young

In [12]:
y =61
if (y>90):
    print("Grade A")
elif (y>60 and y<90):
    print("Grade B")
else:
    print("Grade F")

Grade B

# LOOPs

# For loop

In [14]:
for i in range(3):  # i take value from 0 to 2 
    print("VNIT")

VNIT
VNIT
VNIT

In [17]:
# Prob 1: Write a loop to print all number between 10 to 20

for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [21]:
# Problem 2 : Write a for loop to print all the odd numbers between 10 and 20
for i in range(11,20,2):
    print(i)

11
13
15
17
19

# While loop

In [24]:
# Prob 1: Write a loop to print all number between 10 to 20
i=10
while i<20:
    print(i)
    i=i+1

10
11
12
13
14
15
16
17
18
19

In [25]:
# Problem 2 : Write a for loop to print all the odd numbers between 10 and 20
i=11
while(i<20):
    print(i)
    i=i+2

11
13
15
17
19

# Function

# What is function
#1. Reusable piece of code
#2. Created for solving specific problem
# Built in - print(), min(), max()
# User define function - AreaOfCircle()

# Syntax
# def function_name( argu):
    statement1
    starement2
    
    return statement

Write a function to print area of circle when a radius is given

In [26]:
def area_of_circle(rad):
    print(3.14*rad*rad)
    
area_of_circle(3)

28.259999999999998

In [27]:
def area_of_circle(rad):
    return (3.14*rad*rad)
    
a=area_of_circle(3)
print(a)

28.259999999999998

Prob: Create a function that takes two numbers as arguments and returns the greater of the two

In [31]:
def gre_two_num(a,b):
    if(a>b):
        gr=a
    else:
        gr=b
    return gr

33

In [33]:
g=gre_two_num(30,10)
print(g)

30

# Data Structure

# int , float ,boll, str  -> Poblems with this   studnets( name, roll, per, add)

# slove this using list and Dictionaries

In [1]:
List1 = ["Rajesh", 33, 78.5,"Nagpur"]  # - Order and sequancial data

In [2]:
Dict1= {'Rajesh':33,'Suresh':35,'Ramesh':55}  # Unoreder

# Topics in List 1.What is list  2. editing inlist 3. Add elemet in list 4.delete item from list   5.loop over list