## Core python programming

In [1]:
# =============TYPES OF VARIABLES/data types ( INT , FLOAT, STRING, BOOL)================

# int - 
x=2
x

2

In [2]:
x

2

In [3]:
type(x)

int

In [4]:
# float -
y = 4.6

In [5]:
y

4.6

In [6]:
type(y)

float

In [7]:
# string - 
z = 'hello'

In [8]:
z

'hello'

In [9]:
z1 = "hi"

In [10]:

z1
print(z1) 
type(z1)

hi

str

In [11]:
# bool // logical -
g = True
g

True

In [12]:
m1 = False + True
m1

1

In [13]:
g

True

In [14]:
a = True + True
a

2

In [15]:
i = "False"

In [16]:
i

'False'

In [17]:
a2=45

In [18]:
b2=56

In [19]:
a2
#b2

45

In [20]:
print(a2)
b2

45

56

In [21]:
# ================== USING VARIABLES =======================

# Arithmetic -
A = 10
B = 5

In [22]:
C = A + B
C

15

In [23]:
D = B/A
D

0.5

In [24]:
E = A*B
E

50

In [25]:
F = B-A
F

-5

In [26]:
C

15

In [27]:
D

0.5

In [28]:
E

50

In [29]:
F

-5

In [30]:
# why is it better to use print() // (ANS) - all o/p will display one time 
print(C)
print(D)
print(E)
print(F)

15
0.5
50
-5

In [31]:
# How to run the square root operation - 

import math # math is the package which you are importing

In [32]:
math.sqrt(25) # 16 is the argument of the sqrt function

5.0

In [33]:
A = 10

In [34]:
math.sqrt(A) #A=10 which we declare at begining

3.1622776601683795

In [35]:
round(math.sqrt(A))

3

In [36]:
# lets working with string 
greeting = 'hello'
name = " aspired data scientitst"

In [37]:
message = greeting +  name
message

'hello aspired data scientitst'

In [38]:
name = " nareshIT"
message = greeting + name
message

'hello nareshIT'

In [39]:
# ================ BOOL VARIABLES AND OPERATORS ====================
4<5

True

In [40]:
10>100

False

In [41]:
# <
# >
# <=
# >=
# and
# or
# not

In [42]:
result = 4<5

In [43]:
result

True

In [44]:
type(result)

bool

In [45]:
result2 = 5>1

In [46]:
result2

True

In [47]:
result3 = not(5>1)

In [48]:
result3

False

In [49]:
result

True

In [50]:
result2

True

In [51]:
result3

False

In [52]:
result or result2 or result3

True

In [53]:
result or result3 or result2

True

In [54]:
result2 and result3

False

In [55]:
# =================== WHILE LOOP =========================

# what is while loop why used for - lets discuss that--- 

# while(condition){   # checking the condition if the conditiong is true then execute the loop and it keep continue thats why it called as loop
#     executable code1                        # if the condition is false then print to code4 
#     executable code2
#     executable code3
# }
# executable code4

In [56]:
# === python is indentation based program & no need to required 
# very important you have to check the indentataion & need to maintain properly
# python there is no curly braces
# --------------------------------------------------------------

#while condition:
#    executable code1
#    executable code2
#    executable code3
#executable code4

In [57]:
num = 12
while num<11:  
    print(num)
    num = num+1
print('END OF THE PROGRAM')

END OF THE PROGRAM

In [58]:
count = 13
while count<12:
    print(count)
    count = count + 1
print("End the loop")

End the loop

In [59]:
#count = 22  #how to print infinite loop
#while count>12: # 22>12
#    print(count)
#    count = count + 1
#print("End the loop")

In [60]:
# ==================== FOR LOOP ==============================

# i define as iteration
for i in range(3):  # while loop we check the  condition
    print('Hello python')

Hello python
Hello python
Hello python

In [61]:
for i in range(5):
    print("Hello python:", i)
    print('welcome to naresh')

Hello python: 0
welcome to naresh
Hello python: 1
welcome to naresh
Hello python: 2
welcome to naresh
Hello python: 3
welcome to naresh
Hello python: 4
welcome to naresh

In [62]:
for i in range(7):
    print("Hello python:",i) 
    #print("Hello python:",i)

Hello python: 0
Hello python: 1
Hello python: 2
Hello python: 3
Hello python: 4
Hello python: 5
Hello python: 6

In [203]:
#Another way
mylist = [10,100,1000,2000]

In [64]:
mylist[::-1]

[2000, 1000, 100, 10]

In [65]:
mylist[:-1]

[10, 100, 1000]

In [66]:
mylist

[10, 100, 1000, 2000]

In [67]:
mylist[:-2]

[10, 100]

In [68]:
mylist

[10, 100, 1000, 2000]

In [69]:
mylist[-2:]

[1000, 2000]

In [70]:
mylist

[10, 100, 1000, 2000]

In [71]:
mylist[:-2]

[10, 100]

In [72]:
mylist

[10, 100, 1000, 2000]

In [73]:
mylist[0]

10

In [74]:
mylist

[10, 100, 1000, 2000]

In [75]:
for j in mylist:
    print('jj is equal to :', j)

jj is equal to : 10
jj is equal to : 100
jj is equal to : 1000
jj is equal to : 2000

In [76]:
range(5)  #very quick way to creat a set of 5 numbers

range(0, 5)

In [77]:
list(range(5))

[0, 1, 2, 3, 4]

In [78]:
list(range(10)) #what actually range 5 does

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
list(range(10,40,10))

[10, 20, 30]

In [80]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [83]:
# ================= IF STATEMENT ======================
# -----(-2),(-1),(0),(1),(2)------------

import numpy as np # numpy is package is a scientific computation, matrix , array  
from numpy.random import randn

In [85]:
randn()

-1.0011505872601179

In [102]:
# ========== IF-ELSE STATEMENT ====================
# -----(-2),(-1),(0),(1),(2)------------

#answer = None
x = randn() 
if x>1:   # if is the keyword then use condition & if the condition is true then code got executed and keep going down
    answer = "Greater then 1"
else:
    answer = "Less then 1"
print(x)
print(answer)

1.0037959325866936
Greater then 1

### what we learned so far -
1.Type of variable
2.Using variable
3.Logical variable and operator
4.while loop
5.For loop
6.if statement, if _ else statement, elif statement
7.random variables: randn()
8.introduce to numpy & pandas

### Fundamentals of python which are used in datascience -

In [103]:
# List - ordered sequeence of elements & always start with 0
# you can decleare the mixed datatype variables
# List closed in [] bracket

MyFirstList = [5, 50, 67, 2020]

In [104]:
MyFirstList

[5, 50, 67, 2020]

In [105]:
type(MyFirstList)

list

In [106]:
MysecondList = [2, 5.0,'AMXWAM',True,40+67j] #multiple datatypes you can declared in the list

In [107]:
MysecondList

[2, 5.0, 'AMXWAM', True, (40+67j)]

In [108]:
type(MysecondList)

list

In [109]:
amx = ['how are you?',55, (3,4,5)] #list inside the list

In [110]:
amx

['how are you?', 55, (3, 4, 5)]

In [111]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [113]:
fruits.count('apple')

2

In [114]:
range(15)

range(0, 15)

In [115]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [116]:
x = [1,2,3,4,5,6,7]
x

[1, 2, 3, 4, 5, 6, 7]

In [117]:
y = list(range(8))

In [118]:
y

[0, 1, 2, 3, 4, 5, 6, 7]

In [119]:
z = list(range(1,8))

In [120]:
z

[1, 2, 3, 4, 5, 6, 7]

In [121]:
a1 = list(range(5,8))
a1

[5, 6, 7]

In [122]:
a2 = list(range(100,120)) 
a2

[100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119]

In [123]:
a3 = list(range(10,20)) # 10 form right 20-1
a3

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [124]:
a4 = list(range(10,20,5))  # adding 3 steps from 10 to 20

In [125]:
a4

[10, 15]

In [126]:
xx = list(range(1,5,2))

In [127]:
xx

[1, 3]

In [128]:
a5 = list(range(20,40,5)) 
a5

[20, 25, 30, 35]

In [129]:
# Now we can check how to read information from the list
w = ['a','e','i','o','u']

In [130]:
w

['a', 'e', 'i', 'o', 'u']

In [131]:
w[0]

'a'

In [132]:
w[1]

'e'

In [133]:
w[2]

'i'

In [134]:
w

['a', 'e', 'i', 'o', 'u']

In [135]:
#if you have more no of list so how to know how many are there

len(w)

5

In [136]:
w

['a', 'e', 'i', 'o', 'u']

In [137]:
# a,e,i,o,u
# 0,1,2,3,4 --> left to rigth
# -5,-4,-3,-2,-1 --> right to left

w[-4]

'e'

In [138]:
w

['a', 'e', 'i', 'o', 'u']

In [139]:
w[:]

['a', 'e', 'i', 'o', 'u']

In [142]:
w[:-3]

['a', 'e']

In [144]:
w[:4]

['a', 'e', 'i', 'o']

In [145]:
w

['a', 'e', 'i', 'o', 'u']

In [146]:
w[3:]

['o', 'u']

In [147]:
w[0]

'a'

In [148]:
# overwrite values
w

['a', 'e', 'i', 'o', 'u']

In [149]:
w[2] = 10
w[2]

10

In [150]:
w

['a', 'e', 10, 'o', 'u']

In [152]:
# slicing : operator
x = ['a', 'b', 'c', 'd', 'e' ,'f', 'g', 'h'] 
x

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [154]:
x[4:7] #left side part always begins with 0 but right side always have to (no.-1)// 7-1

['e', 'f', 'g']

In [155]:
x

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [157]:
x[-5:-3]

['d', 'e']

In [158]:
x[-5:-2]

['d', 'e', 'f']

In [159]:
x

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [160]:
x[2:7]

['c', 'd', 'e', 'f', 'g']

In [161]:
x

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [162]:
x[-6:-1]

['c', 'd', 'e', 'f', 'g']

In [163]:
#advanced slicing - [_:_:_] starting,ending,step
#if you specified : one more time then you get 3 spot last step is nothing but step
x

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [164]:
x[3:7:3]

['d', 'g']

In [165]:
x[3:8:2]

['d', 'f', 'h']

In [166]:
hallo = ['A','B','C','D','E','F','G','H','I','J']
hallo

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [167]:
hallo[1:3]

['B', 'C']

In [168]:
hallo[:]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [169]:
hallo[1]

'B'

In [170]:
hallo

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [171]:
hallo[2:]

['C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [172]:
hallo

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [173]:
hallo[:4]

['A', 'B', 'C', 'D']

In [174]:
hallo

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [175]:
hallo[2:10:2]

['C', 'E', 'G', 'I']

In [176]:
hallo

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [177]:
# --- advanced slicing
hallo[2:9:2]

['C', 'E', 'G', 'I']

In [178]:
hallo

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [179]:
hallo[::-1] # : - PRINT 1ST - LAST, :-1 -> REVERS DIRECT

['J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

In [180]:
hallo

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [182]:
hallo[::-3]

['J', 'G', 'D', 'A']

In [185]:
hallo

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [189]:
hallo[-2:]

['I', 'J']

In [190]:
hallo

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [191]:
hallo[::2]   #

['A', 'C', 'E', 'G', 'I']

In [192]:
hallo

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [193]:
hallo[::-1]  #reversing order print

['J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

In [194]:
hallo

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [195]:
hallo[::-2]

['J', 'H', 'F', 'D', 'B']

In [196]:
hallo

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [ ]:
hallo[::-4]

In [ ]:
hallo

In [ ]:
hallo[:-3]

In [ ]:
hallo

In [ ]:
hallo[:3]

In [197]:
hallo

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [199]:
hallo[6:0:-2]

['G', 'E', 'C']

In [200]:
hallo

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [201]:
hallo[6:2:-2]

['G', 'E']

In [ ]:
hallo

In [ ]:
hallo[7:1:-3]

In [ ]:
#Tuples -- Immutable list or immutable sequence of values

t = (10,20,90)

In [ ]:
t

In [ ]:
t[1]

In [ ]:
t[1]=30  #you are unable to change after declaration

In [ ]:
# Functions in python 

range(20, 31)

In [ ]:
list(range(20, 31))

In [ ]:
mylist1 = list(range(20, 31))

In [ ]:
mylist1

In [ ]:
mylist1

In [ ]:
len(mylist1)

In [ ]:
type(mylist1)

In [205]:
mylist

[10, 100, 1000, 2000]

In [206]:
max(mylist)

2000

In [207]:
min(mylist)

10

In [208]:
max(1,450,234)

450

In [209]:
min(1,450,234)

1

In [ ]:
# PACKAGES IN PYTHON
# PACKAGE - BOX, BLENDERS -FUNCTIONS, FRUITS - CLASS,DATA etc... 
# where & how to find the packages - github,googles Q & A query
# Install packages in anaconda prompt
# conda install package name // pip install package name
# import the packages
# from package import module
# give an example of tensorflow how to install in pip

In [211]:
# NUMPY & ARRAY IN PYTHON
# numpy is the package you have to import 
# list is similar like to array
# numpy is also inbuild array in python

l = [23245, 27, 546, 215, -1234] 
l

[23245, 27, 546, 215, -1234]

In [ ]:
l2 = [23245.5, 27.8, 546.9, 215.2, -1234.0] 
l

In [ ]:
import numpy as np

In [ ]:
a = np.array(l) 
a

In [ ]:
a1 = np.array(l2) 
a1

In [ ]:
l1 = [3.0, 4.6]

In [ ]:
import numpy as np

In [ ]:
a = np.array(l) # list is convert into arrays

In [ ]:
a

In [ ]:
b = np.array(l1)
b

In [ ]:
# what is the main difference between list & array
# you cannot create an array of different data types

b = np.array(12,True)
b

In [ ]:
print(b)  #everything is converted into string

In [212]:
l  #when you select. and then tab you get list of function

[23245, 27, 546, 215, -1234]

In [213]:
l.pop()

-1234

In [214]:
l

[23245, 27, 546, 215]

In [215]:
l.pop()

215

In [216]:
l

[23245, 27, 546]

In [ ]:
a

In [ ]:
a.mean()

In [ ]:
a.mode()

In [ ]:
a.median()

In [ ]:
a

In [ ]:
# slicing array

l

In [ ]:
l[1:]

In [ ]:
l[0:2]

In [ ]:
l

In [ ]:
l[:]

In [ ]:
l[::2]

In [ ]:
a

In [ ]:
a[2:]

In [ ]:
a

In [ ]:
a[2:4]

In [ ]:
a

In [ ]:
c = a.copy() # when you create a copy of numpy array, modification can not be done both object array but in list it

In [ ]:
c

In [ ]:
a

In [ ]:
c[0]

In [ ]:
c[0] = 0

In [ ]:
c

In [ ]:
a

In [ ]:
a[0]

In [ ]:
a

In [ ]:
c

In [ ]:
m = [1,2,3]
m[0]

In [ ]:
m[0]= 81

In [ ]:
m

In [ ]:
n = list.copy(m)  # when you create a copy of list, modification will done both object

In [ ]:
n=m.copy()

In [ ]:
n

In [ ]:
m

# what we learned so far -- 
'''
1> list
2> create some list[],range()
3> using [] bracket
4> slicing list
5> Tuples
6> functions 
7> packages
8> Numpys & Arrays
9> slicing arrays'''

### PYTHOH END -

-------