In [1]:
a='5.2'
a

'5.2'

In [2]:
type(a)

str

In [3]:
import sys
sys.version

'3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]'

In [4]:
a=7.9
a

7.9

In [5]:
b=5
b

5

In [6]:
cash=50
Cash=5
Cash

5

In [8]:
new=5
New=10

In [13]:
def =5
def

SyntaxError: invalid syntax (<ipython-input-13-caad3cfdb4d6>, line 1)

In [14]:
if =10

SyntaxError: invalid syntax (<ipython-input-14-3ee8fa737599>, line 1)

In [16]:
DEF=5
DEF

5

In [19]:
salaryxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx=5

In [20]:
1=5

SyntaxError: cannot assign to literal (<ipython-input-20-5d4f6b2704df>, line 1)

In [29]:
a=True
a

True

In [30]:
b=None
b

In [31]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [33]:
import pandas as pd
df=pd.DataFrame(keyword.kwlist)
df

           0
0      False
1       None
2       True
3        and
4         as
5     assert
6      async
7      await
8      break
9      class
10  continue
11       def
12       del
13      elif
14      else
15    except
16   finally
17       for
18      from
19    global
20        if
21    import
22        in
23        is
24    lambda
25  nonlocal
26       not
27        or
28      pass
29     raise
30    return
31       try
32     while
33      with
34     yield

In [40]:
a=10
print('a')
print(a)
id(a)

a
10

140718585030720

In [44]:
a=10
b=100
print(id(a))
print(id(b))

140718585030720
140718585033600

In [62]:
a=12112
b=0b111
print(a)
print(b)
type(b)

12112
7

int

In [49]:
# Binary
b=0b1111
print(b)

15

In [63]:
# Octal
c=0o1111
# 8^3+8^2+8^1+8^0
print(c)
type(c)

585

int

In [68]:
d = 0b4567.89
print(d)

SyntaxError: invalid digit '4' in binary literal (<ipython-input-68-2413906acd18>, line 1)

In [73]:
g=1e4
print(g)

10000.0

In [74]:
f=5e4
print(f)

50000.0

In [78]:
#x=40+50j
print(40+50j)
type(x)

(40+50j)

complex

In [84]:
a11 = 20+30j
b11 = 40+50j
a11*b11
#a1/b1

(-700+2200j)

In [85]:
type(a11)

complex

In [86]:
a11.real

20.0

In [89]:
a11.imag

30.0

In [90]:
a=10
b=20
c=30
a>b

False

In [101]:
False/True

0.0

In [116]:
naresh = 'good for datascience'''
naresh

'good for datascience'

In [119]:
naresh1='''goos is 
good
'''
naresh1
type(naresh1)

str

In [120]:
x

(40+50j)

In [138]:
a=int(10+20j)
a+20

TypeError: can't convert complex to int

In [139]:
b=float('10')
b

10.0

In [152]:
complex(10,20.5)

(10+20.5j)

In [157]:
bool(0.1)

True

In [158]:
bool(10+20j)

True

In [162]:
bool(10+0j)

True

In [165]:
bool("")

False

In [166]:
bool(" ")

True

In [170]:
bool('')

False

In [171]:
bool(' ')

True

In [174]:
str(10)

'10'

In [173]:
str('10')

'10'

In [175]:
str()

''

In [176]:
str(True)

'True'

In [177]:
str(10+20j)

'(10+20j)'

In [180]:
a=10
b=10
c=10
print(id(a))
print(id(b))
print(id(c))

140718585030720
140718585030720
140718585030720

In [182]:
print(a is b is c)

True

In [188]:
x = True
y = True
z = False
#x is y
#y is z
#z is x
z is y

False

In [191]:
l=[]
type(l)
print(type(l))

<class 'list'>

In [192]:
l.append(10)
l.append(20)
l.append(30)

In [193]:
l

[10, 20, 30]

In [195]:
l.append('abc')
l.append(10.5)
l.append(True)

In [196]:
l

[10, 20, 30, 'abc', 10.5, True]

In [197]:
l.remove(20)

In [198]:
l

[10, 30, 'abc', 10.5, True]

In [199]:
l[4]

True

In [201]:
l[4]

True

In [202]:
l

[10, 30, 'abc', 10.5, True]

In [203]:
l[-1]

True

In [204]:
l[-2]

10.5

In [205]:
l[:]

[10, 30, 'abc', 10.5, True]

In [206]:
l[2:4]

['abc', 10.5]

In [211]:
l[6:7]

[]

In [212]:
l[2]=100

In [213]:
l

[10, 30, 100, 10.5, True]

In [215]:
l[3:]

[10.5, True]

In [217]:
l[2:-2]

[100]

In [222]:
l[::-1]

[True, 10.5, 100, 30, 10]

In [223]:
l[::-2] # Jump by 2 in reverse order

[True, 100, 10]

In [224]:
l[::-3]

[True, 30]

In [225]:
l

[10, 30, 100, 10.5, True]

In [226]:
l[:-1]

[10, 30, 100, 10.5]

In [227]:
# Tuple
l=[10,20,30,'abc','10.5', 10.5, 10, True]
t=(10,20,30,'abc','10.5',10.5,10, True)

In [228]:
l[:]

[10, 20, 30, 'abc', '10.5', 10.5, 10, True]

In [233]:
t[:]

(10, 20, 30, 'abc', '10.5', 10.5, 10, True)

In [236]:
l[0]=100
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [238]:
t

(10, 20, 30, 'abc', '10.5', 10.5, 10, True)

In [240]:
t[2:4]

(30, 'abc')

In [241]:
t[2:3] # strat with 2 and less than 3 ile 2 trherefore only one

(30,)

In [244]:
l

[100, 20, 30, 'abc', '10.5', 10.5, 10, True]

In [245]:
l[:-1]

[100, 20, 30, 'abc', '10.5', 10.5, 10]

In [246]:
t

(10, 20, 30, 'abc', '10.5', 10.5, 10, True)

In [247]:
t[:-1]

(10, 20, 30, 'abc', '10.5', 10.5, 10)

In [248]:
t.append(20) # error due to immutable

AttributeError: 'tuple' object has no attribute 'append'

In [249]:
t.add(20) # error due to immutable

AttributeError: 'tuple' object has no attribute 'add'

In [251]:
l.remove(10)

In [252]:
t.remove(10) # tuple is immutable

AttributeError: 'tuple' object has no attribute 'remove'

In [253]:
l*3

[100,
 20,
 30,
 'abc',
 '10.5',
 10.5,
 True,
 100,
 20,
 30,
 'abc',
 '10.5',
 10.5,
 True,
 100,
 20,
 30,
 'abc',
 '10.5',
 10.5,
 True]

In [254]:
t*3

(10,
 20,
 30,
 'abc',
 '10.5',
 10.5,
 10,
 True,
 10,
 20,
 30,
 'abc',
 '10.5',
 10.5,
 10,
 True,
 10,
 20,
 30,
 'abc',
 '10.5',
 10.5,
 10,
 True)

In [257]:
t2=t*2
t2

(10,
 20,
 30,
 'abc',
 '10.5',
 10.5,
 10,
 True,
 10,
 20,
 30,
 'abc',
 '10.5',
 10.5,
 10,
 True)

In [261]:
r=range(5)
r

range(0, 5)

In [262]:
type(r)

range

In [263]:
for i in r:
    print(i)

0
1
2
3
4

In [264]:
r[2]

2

In [265]:
r[1:3]

range(1, 3)

In [267]:
r=range(10,20,2)
r

range(10, 20, 2)

In [268]:
for i in r:
    print(i)

10
12
14
16
18

In [269]:
for i in range(10,100,10):
    print(i)

10
20
30
40
50
60
70
80
90

In [270]:
# Set
s={10,20,30,10,20,30}

In [271]:
s

{10, 20, 30}

In [272]:
s1={10,20,30,'abc',True}

In [273]:
s1

{10, 20, 30, True, 'abc'}

In [274]:
s1[1:3]

TypeError: 'set' object is not subscriptable

In [275]:
s1[:]

TypeError: 'set' object is not subscriptable

In [278]:
s1.add(40)
s1

{10, 20, 30, 40, True, 'abc'}

In [279]:
s1.add('xyz')

In [280]:
s1

{10, 20, 30, 40, True, 'abc', 'xyz'}

In [281]:
s1.remove(40)

In [282]:
s1

{10, 20, 30, True, 'abc', 'xyz'}

In [283]:
s1[3]

TypeError: 'set' object is not subscriptable

In [284]:
# frozenset exactly same as set but one criteria is immutable
s2={10,20,30,40}

In [287]:
fs=frozenset(s2)
fs

frozenset({10, 20, 30, 40})

In [289]:
type(fs)

frozenset

In [290]:
fs.add(20)

AttributeError: 'frozenset' object has no attribute 'add'

In [291]:
fs.remove(20)

AttributeError: 'frozenset' object has no attribute 'remove'

In [294]:
#DICTIONARY DATATYPES (dict)
d={10:'ten',20:'twenty',30:'Thirty'}
d

{10: 'ten', 20: 'twenty', 30: 'Thirty'}

In [295]:
type(d)

dict

In [296]:
print(type(d))

<class 'dict'>

In [297]:
d

{10: 'ten', 20: 'twenty', 30: 'Thirty'}

In [300]:
d[20]

'twenty'

In [301]:
d[40]='fourty'

In [302]:
d

{10: 'ten', 20: 'twenty', 30: 'Thirty', 40: 'fourty'}

In [303]:
d[True]='True'

In [309]:
d

{10: 'ten', 20: 'twenty', 30: 'Thirty', 40: 'Fourty', True: 'True'}

In [310]:
d[40]

In [312]:
d

{10: 'ten', 20: 'twenty', 30: 'Thirty', 40: 'fourty', True: 'True'}

In [313]:
d[40]='fourty'

In [314]:
d

{10: 'ten', 20: 'twenty', 30: 'Thirty', 40: 'fourty', True: 'True'}

In [315]:
del d[40]

In [316]:
d

{10: 'ten', 20: 'twenty', 30: 'Thirty', True: 'True'}