## PYTHON INTRODUCTION -  (TASK - 1)
* I hope everybody install Anconda software which i share to you guys right
* Just wanted to know how many of know any programming language
* If you dont know any programming language then you are the best person to learn PYTHON 
* python is very easy language
* what is python? Ans - python is highly recommanded programming language & object oriented language
* Father of python - Guido van Rosam
* Python came from fun tv show called ''complete monty python's flying circus'' - broadcasted in BBC channel 
* Python - procudeure oriented progrmming language, functional programming language, object oriented programming language,scripting language,modular programming language
* Python borrowed all concept from c,c++,java,unix ( so python is everything) thats why python very very powerfull tool
* Python developed in NRI - (Netherland) & lot of people say that python is new language
* Java released on 1995. python was released on 1989 officialy released on (feb 20th 1991)

* Now python is very popular based on software industry requirment because everybody wants to write very less code/concile code
* Current market trend is - Machine learing, Artificial intelligence, data science & Iot(Internet of things)
* which companies are used python - google,nasa,uber,netfliz,reddit,facebook, everywhere python used everywhere
* python code can understand everybody & python is dynamic programming language
* In python everything done by PVM (python virtual machine)
* you can access python in any platform independent- windows, linux, mac one code can run in all the 4 platform & no need to   write separate programe for every platform. Once you write code you can run in platform
* Python is dynamically programming language (not required to declared data types)
* Python is freeware and open source. Moving from one platform to other platform without changeing any code
* Python contains rich libray - numpy,pandas so python is the best application for datascience
* which scenario python can't be used - ( python can not perform in mobile application like android )
* Flavours of python - cpython(C programming),jpython(java programming),Iron python(c#.net),Ruby python(Ruby based application   programme),Anaconda python(Bigdata,datascience)
* Python 1.0 introduce in jan 1994 -- Noorganization is working now
* Python 2.0 introduce in oct 2000 -- Noorganization is working now
* Python 3.0 introduce in Dec 2008 -- latest version - 3.6, 3.6, 3.7, 3.8, 3.9

In [ ]:
a = 5.8
a
type(a)

In [ ]:
import sys
sys.version

In [ ]:
a = 7.9
a

### PYTHON ( IDENTIFIER / VARIBALE / OBJECT )  --
* There is a person whose name - Multiple names are to identify person.so finally the   Name which can be used for identification purpose.
* Name in the python programme is called IDENTIFIER (x = 10) (X - identifier)

*'''  
     
* Nameing ceremoney we have some rules to naming a child . e.g - Gods name,Ancestor Name,have to do     some R & D. you cannot keep the child name as - Cat or dog right.. so parent have to follow some     rule and keep their child naming ceremony.

*Rules to define Python Identifier & we will check those rules ==

<1 Alphabet (uppercae & lowercase)
 <2> Digits (0-9) # should not stat with digit
  <3> underscore(_)

In [ ]:
#x = 10 # x is the variable & 10 is thealue
#cash = 10 # Identifier ruls alphabet
ca$h = 10 # $ - symbole is not allowed in python identifier but in java is allowed
ca$h
#cash

In [ ]:
CASH = 20
#Cash
CASH

In [ ]:
# <2> Identifiers should not starts with dight ====
#sum123 = 20 # Digit rules identifier
123total = 30
123total
#sum123

In [ ]:
# <3> Identifiers are case sensitive
#total = 10 # Python are case sensitive
TotAL = 20
#total
TotAL

In [ ]:
total = 10
TOTAL

In [ ]:
new = 30
NEW

In [ ]:
TOTAL = 20
TOTAL

In [ ]:
def = 4.6
def

In [ ]:
if = 780
if

In [ ]:
DEF = 5.6
DEF

In [ ]:
# <4> Keywords can not be assigned as identifier
#if = 10   # if is keyword
#DEF = 20  # def is keyword
for = 50
#DEF
#if
for

In [ ]:
def = 30
def

In [ ]:
if = 30
if

In [ ]:
IF = 56
IF

In [ ]:
if = 60
if

In [ ]:
# 5> NO length limit in python Identifier
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx = 10
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwxxxxxxxx

In [ ]:
_abc_def_gef  = 10
_abc_def_gef

* Q & A for valid / Invalid identifier - 
1>123AMX
2>Amx123
3>ml2ai
4>_abc_def_gef 
5>def
6>else
7>ELSE

* ----- RULES OF PYTHON IDENTIFIER ------
1> A to Z, a to z, 0 - 9
2> Doesnot starts with digit
3> Case sensitive
4> Reserved words or keywords cannot be a identifier
5> Identifier cannot have a lenght limit
6> _ only allowed


* ========================= WE LEARNT ABOUT PYTHON IDENTIFIER IN DETAILS ============================

### PYTHON RESERVED WORDS - 
* if a kid going to school what he/she will learn A,B,C - - - -Z then she will learn A - APPLE, B -BALL, C - CAT. (APPLE,BALL,CAT - Reserved word in english) 
* Apple is reserved for the fruit, Ball ==> play, Cat ==> Animal // (Dictionary uncountable reserved words is there).. This type of words are called Reserved word
* In any programming language there is a reserved word are there we gonna learn only python Reserved

* python reserved are => (35 RESERVED WORDS) If you learn 35 reserved words then python is complete
* all reserved words have some meaning & functionality 
* Learning python is nothing but learing all this functionality

**35 RESERVED WORDS---
* True, False, None ==> Represent Boolean data types   
* and, or, not, is ==> Represent the operators
* if, else, elif ==> Represent the statement   (# python switch,do..while statament is not available)
* while, for, break, continue, return, in, yield ==> Represent the loop concept
* try, except, finally, raise, assert ==> Represent for functionallity
* import,from,as,class,def,pass,global,nonlocal,lambda,del,with==>Represent the class,method,function

**NOTES --  *35 RESERVED WORDS ARE (ALPHABET) // *EXCEPT (True,False,None)

In [ ]:
#a = True # hash is used for comment
a = True
a

In [ ]:
#b = None
b = none
b

In [ ]:
c = False
#c = false
c

In [ ]:
# How to remembr all keywords --- (Interview questions)
# KEYWORD is the module run from IMPORT class

import keyword
keyword.kwlist

In [ ]:
# write a coding to create index of these keywords --- IMP ---

import pandas as pd # pandas is the module to create a dataframe
df = pd.DataFrame(keyword.kwlist)
df

# Always remember python Index begins with '0'

# ================= RESERVED WORDS COMPLETED ===============================

### PYTHON DATA TYPES // (14) - INBUILD DATA TYPES - 
1>int
2>float
3>complex
4>bool
5>str
6>bytes
7>bytearray
8>range
9>list
10>tuple
11>set
12>frozenset
13>dict
14>None

* python provides some inbuild function like -- <1> print() <2> type() <3> id()

* int,float,complex,boolen is not represent object # Tricky question
* except these 4 everythig object # Tricky question

*NOTE - [**In python all 14 data types are object only]
*Thats why we called as python is object oriented program

#### 'hello world'

In [ ]:
# What is other inbuild datatype available except 14 datatypes-

a = 10
#print('a')       # To find the variable 
#print(a)         # To find the value of variable
#type(a) # To find the data type
id(a)            # To find an address of an object

In [ ]:
b = 20
id(b)

In [ ]:
c = 20
id(c)

In [ ]:
a = 10
b = 10
id(a)

In [ ]:
a = 10
a
id(a)

#### int datatypes - 
* INT Datatypes - The No.without decimal point are called as INTEGRAL DATATYPES
*int datatype how many ways represent values in 3ways - 

2> Binary form --- (Base-2) -- (0,1)
3> Octal form --- (Base-8) -- (0,7)

In [ ]:

a = 4809
a

In [ ]:
#2.Binary form(Base 2)
#a = 1111   # value is declared
b = 0b111 # Now pvm convert value to binary value
b
#a

In [ ]:
c = 0b1111
c

In [ ]:
b = 0b222

In [ ]:
b = 0b1111 # Now pvm convert value to binary value
b

In [ ]:
#3. Octal form(Base 8)
#a = 111 # Value is declared
b = 0o11 # Now pvm covert value to octal value
b
#a

In [ ]:
# final summary of INTEGRAL DATATYPES 
a = 10
b = 0b10
c = 0o10
c

In [ ]:
b

In [ ]:
c

In [ ]:
A = 78
type(A)

#### float datatypes - 
*employee sal - 5676.76
*diesel price - 67.25
* These values are not integral value this is called as decimal value
* Floating datatype you cannot declare Binary,Octal & Hexadecimal because  python enterpretur not accept that
* In our schools we learn about EXPONTIAL form -(1.2e3) this you can find in   float datatypes & only letter 'e' can allowed

In [ ]:
# float datatypes - 
#b = 4567.89
#print(type(b))
#type(b) 
#b
d = 0o4567.89 # This is octal
#e = 0b4567.89 # This is binary
d

#e
#b

In [ ]:
b = 67.9
b

In [ ]:
#f = 1e3 # only 'e' letter is allowed
g = 2.4e3 # except 'E' you can't execute any programme
g
#f

In [ ]:
e = 5.e4
e

#### complex datatypes - 
* Complex datatype format are:-(a+bj) (a--Real part/b--Imaginary part/j^2=-1)
* j is the compulsory value & there is no other value accepted in complex type
* j^2 = -1 
* Value of j is (j square is equal to -1) (j =(square root of -1) is equal to (j^2 = -1) pure mathemetics so if you want to develop mathmetic 
  application or scientific application then python is the best option
* Real type any type base can be accepted but imaginary part allow only integer

In [ ]:
x = 30+40j #assigned int value in real part & imaginary part
type(x)

In [ ]:
y = 20.5+2.3j #assigned float value in real part & imaginary part
z = 30.8+20j  #assigned float value in real part & real value in imaginary part
y + z
y*z
y/z

In [ ]:
#c = 15+0o111j # Imaginary part cannot be binary,octal
d = 0o11+15j # Real part can be binary,octal
#c
d

In [ ]:
a1 = 20+30j
b1 = 40+50j
a1+b1
a1-b1
a1*b1
a1/b1

In [ ]:
a = 2+3j
type(a)

In [ ]:
a1 = 10+20j  # I want to know what the value of real part & imaginary part
a1.real   # complex data type will use in mathmetic concept not that required for programming language
#a1.imaginary
a1.imag

#### bool datatypes - 
* True/False - (only allowed boolean values)
* False value -- 0 (internally memory level conversion happened)
* True value -- 1

In [ ]:
a = 10
b = 20
c = a>b
c

In [ ]:
True+True
True*True
True-True
True/True
False+False
False+True
True/False

In [ ]:
True/True

In [ ]:
True/False # error

#### str datatypes - 
* enclosed in '' (single quote) // "" (double quote)
* singa line we assined as '' // ""
* multiline we assigned as ("' "')
* single & double quotes are allowed only for single line
* triple quotes are allowed for multi comments & also you can declare triple quotes in single line as well

In [ ]:
naresh = '''good for datascience'''
naresh
#type(naresh)

In [ ]:
naresh = 'good for datascience'

x#type(careerera)#' single quotes'
naresh
type(naresh)

In [ ]:
naresh = "good for datascience"
#type(careerera)#' single quotes'
naresh
type(naresh)

In [ ]:
naresh = '''good for datascience'''
#type(careerera)#' single quotes'
naresh
#type(naresh)

In [ ]:
naresh1 = '''good for 
 datascience''' ## i decleart independ variable in this  lin
naresh1
#type(naresh1)

In [ ]:
a = '''hallo
how 
are 
you'''

a
#type(a) # SINLE & DOUBLE QUOTES ARE EQUAL

In [ ]:
b = '''hello 
    hi'''

In [ ]:
# single quote & double both are equl
# ''' multiline comment'''

In [ ]:
b = '''('hallo' 
  'how'
    'are you')'''
    
    # ''' ''' ==> triple quotes are used for multiline comments
b
    # is for commenting

In [ ]:
x

#### Type casting or Type conversion - 
int() -- float() -- complex() -- bool() -- str()

In [ ]:
# int(): - you can convert from other type to int type except complex 

int(10.123)  # float to int
#int(10+20j) # cannot convert from complex to int
int(True)     # Bool to int
int(False)   # Boll to int
int('10')    # string to int
#int('naresh') # amx is a character

In [ ]:
# float(): -- convert from any type to float except complex

float(10)      # int to float
#float(10+20j)  # cannot convert complex to float
float(False)     # boolean to float
float('11')    # string to float

In [ ]:
# complex(): -- covert any other type to complex type
# --- this only for 1 argument ------

complex(10)     # int to complex
complex(10,20) # int to complex
complex(10.5)  # float to complex
complex(True)  # Bool to complex
complex(False) # Bool to complex
complex('10')  # string to complex 

# ----- Now we will check for 2 arguments ------
complex(10,20)   # int to complex
complex(10,20.5) # float to complex
#complex('10')    # string to complex, you cannot assign 2 argument

In [ ]:
# Bool()  - (0 means false // 1 means non zero)

bool(0)      # int to bool
bool(10)     # int to bool
bool(0.0)    # float to bool
bool(0.01)   # float to bool 
bool(10+20j) # complext to bool
bool(0+0j)   # complex to bool
bool(" ")      # string to bool(if argument is empty string then false)
bool('abc')# string to bool(if argument is not empty string then true)
bool(' ')    # space is also treated as character so non empty string

In [ ]:
# str(): --- any type is possible in string 

str(10)     # int to string
str(10.50)  # float to string
str(True)   # bool to string
str(10+20j) # complex to string

* Fundamental Datatypes are which we covered so far & also we saw how to work on the type casting from one data type to other - 
- We cannot convert our complex data types to int and float
 
 int()
 float()
 complex()
 bool()
 str()

-------------

#### Fundamental datatypes vs Immutability -- 

* All fundamental datatypes are immutable. what is immutable - once we crate the object we are not allow to perform any 
  changes in that object . we can say that (non-changeable behaviour)
* why immutability concept is required -- if you look at below exampl - how many object we created only 1 object which is 10
  but how many reference we assinged -- 3 reference indicates to 1 object
* bigest advantage of this approch is memory utilization & performance is also improved (pvm do not want to wsat memory)
* you can create object with different name, but you cannot create object with same name

In [ ]:
x2 = 10
y21 = 10
z2 = 20 
print(id(x2))
print(id(y2))
print(id(z2))

In [ ]:
print(x2 is z2)
print(x2 is y2)
print(y2 is z2)

* Mutable -- Changeable-- once you create an object 
* Immutable -- Non-changeable
* Fundamental data types are IMMUTABLE but (LIST is mutable)
* Everything in python is an object

**This concept reusing same object such type of concept is define following ranges -
1> int ----> 0 to 256
2> bool ---> Always 
3> str ----> Always
4> float & complex ----> Can not performe the reusable concept

In [ ]:
x = 10 
y = 10
print(id(x))
print(id(y))

In [ ]:
id(y)

In [ ]:
# is operator
x = 20 # x,y = 20
y = 20
#x is y
y is x

In [ ]:
x = True
y = True
z = False
x is y
y is z
z is x
z is y

## ------ END OF THE TODAYS SESSION ----- ##

-------

### PYTHON DATA STRUCTURE ( TASK - 2)

* LIST DATASTRUCTURE - 

* Insertation order is preserved & duplicates are allowed
* if you want to represent group of values as a singel entity where insertation   order is preserved and duplicates are allowed   then we can go for LIST datatype
* what is the meaning of insertaion order is preserved
* you can increase the least object or you can decrease the list object 
* list you can use index operator and also slice operator

In [1]:
l = [] 
type(l) 
print(type(l))

<class 'list'>

In [2]:
l

[]

In [3]:
#Now i want to add an object

l.append(10) 
l.append(20)
l.append(30)
l.append(10)

In [4]:
l

[10, 20, 30, 10]

In [5]:
print(l)

[10, 20, 30, 10]

In [6]:
#hetrogenrous objects are allowed or not
#java people came and asking null is availabe or not, such type of stories are not available
# list objects are growable & this is just an introduction session & we will see indetails

l.append('amx') 
l.append(8.0)
l.append(None)
l

[10, 20, 30, 10, 'amx', 8.0, None]

In [7]:
l

[10, 20, 30, 10, 'amx', 8.0, None]

In [8]:
l.remove('amx') #delete the object from list

In [9]:
l

[10, 20, 30, 10, 8.0, None]

In [10]:
l[4]

8.0

In [11]:
l[3]

10

In [12]:
l

[10, 20, 30, 10, 8.0, None]

In [13]:
l[8]

IndexError: list index out of range

In [14]:
l

[10, 20, 30, 10, 8.0, None]

In [15]:
l[-1]

In [16]:
l[-2]

8.0

In [17]:
l

[10, 20, 30, 10, 8.0, None]

In [18]:
# Let me introduce to slicing operator

l[:]

[10, 20, 30, 10, 8.0, None]

In [19]:
l

[10, 20, 30, 10, 8.0, None]

In [21]:
l[2:4] # n-1 formula

[30, 10]

In [22]:
l

[10, 20, 30, 10, 8.0, None]

In [23]:
l[2:6]

[30, 10, 8.0, None]

In [24]:
l

[10, 20, 30, 10, 8.0, None]

In [25]:
l[2:5]

[30, 10, 8.0]

In [26]:
l

[10, 20, 30, 10, 8.0, None]

In [27]:
l[2:4]

[30, 10]

In [28]:
l

[10, 20, 30, 10, 8.0, None]

In [29]:
l[0]

10

In [30]:
l[0] = 1000

In [31]:
l

[1000, 20, 30, 10, 8.0, None]

In [32]:
l # list is mutable

[1000, 20, 30, 10, 8.0, None]

In [33]:
l[:4]

[1000, 20, 30, 10]

In [34]:
l

[1000, 20, 30, 10, 8.0, None]

In [35]:
l[1] = '7'
l

[1000, '7', 30, 10, 8.0, None]

In [37]:
l # list is mutable

[1000, '7', 30, 10, 8.0, None]

In [38]:
l[2:-2]

[30, 10]

In [39]:
l[:]

[1000, '7', 30, 10, 8.0, None]

In [40]:

l

[1000, '7', 30, 10, 8.0, None]

In [41]:
l[1] # : --> (SLICING OPERATOR)

'7'

In [42]:
l

[1000, '7', 30, 10, 8.0, None]

In [43]:
l[:] #display all the value from  2nd index onwards

[1000, '7', 30, 10, 8.0, None]

In [44]:
l[-1] # output is none hear

In [45]:
l[-2]

8.0

In [46]:
l

[1000, '7', 30, 10, 8.0, None]

In [47]:
l[:] # : --> this will give us total values which we passed in the object

[1000, '7', 30, 10, 8.0, None]

In [48]:
l

[1000, '7', 30, 10, 8.0, None]

In [49]:
l[::-1] # reverse order

[None, 8.0, 10, 30, '7', 1000]

In [50]:
l[::-2]

[None, 10, '7']

In [52]:
l

[1000, '7', 30, 10, 8.0, None]

In [51]:
l[::-3]

[None, 30]

In [53]:
l[::-1]

[None, 8.0, 10, 30, '7', 1000]

In [54]:
l

[1000, '7', 30, 10, 8.0, None]

In [55]:
l[:-1]

[1000, '7', 30, 10, 8.0]

In [56]:
l

[1000, '7', 30, 10, 8.0, None]

In [57]:
l.remove(8.0) 
l

[1000, '7', 30, 10, None]

In [ ]:
#l.remove('amxwam')

In [58]:
l

[1000, '7', 30, 10, None]

In [59]:
l.remove('7')
l

[1000, 30, 10, None]

In [60]:
l[-1]

In [61]:
l

[1000, 30, 10, None]

In [62]:
l[:-3]

[1000]

In [63]:
l

[1000, 30, 10, None]

In [64]:
l[2]

10

In [65]:
l

[1000, 30, 10, None]

In [66]:
l[:-1]

[1000, 30, 10]

* Finaly Summary of LIST DATATYPES -- 
1> order is important
2> duplicates are allowed
3> heterogenous are allowed i.e. different type is allowed
4> growable in nature & you can deleat or insert an object in the list
5> list is datastructure
6> values are enclose in square bracket[]
7> List is mutable
8> index concept applicated in list datatypes +ve- left to right,// -ve- right to left
9> slicin concept is also available

**so far we covered fundamental datatypes - int , float, comlex, str, bool
** we do covered type casting function , how to convert from one type to other
**we covered one datastructured called list

#### tuple concept 
* Tuple is immutable & List is mutable
* Tuple can be represent as ()
* once we create tuple we cannot modify 
* order & duplicates are allowed
* heterogenous are allowed i.e. different type is allowed
* index concept applicated in list datatypes +ve- left to right,// -ve- right 
* slicin concept is also available

In [67]:
l = [10,20,30,40] #list datastructure
t = (10,20,30,40) #tuple datastructure

In [68]:
l[:]

[10, 20, 30, 40]

In [69]:
t1 = (10,'amx',True, 5.8, 10)
t1

(10, 'amx', True, 5.8, 10)

In [70]:
t1[0]

10

In [71]:
t1[0] = 20 # tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [72]:
t1

(10, 'amx', True, 5.8, 10)

In [73]:
t1[0] = 20 # tuple immutable ( not changable) e.g - kyc / adhar

TypeError: 'tuple' object does not support item assignment

In [74]:
t1

(10, 'amx', True, 5.8, 10)

In [75]:
t1[0:3]  # [[ IF YOU RIGHT SIDE THE CALCULATION WILL (Nth INDEX-1) (3-1) == UPTO 2ND INDEX ]]

(10, 'amx', True)

In [76]:
t1[0:4]

(10, 'amx', True, 5.8)

In [77]:
t1

(10, 'amx', True, 5.8, 10)

In [78]:
t

(10, 20, 30, 40)

In [79]:
t[0] # Oth index

10

In [80]:
l #difference between list and tuple

[10, 20, 30, 40]

In [81]:
l.append(50)

In [82]:
l

[10, 20, 30, 40, 50]

In [83]:
l[0]

10

In [84]:
l[0] = 30 #mutable (change)

In [ ]:
l

In [85]:
l.append(60)

In [86]:
l

[30, 20, 30, 40, 50, 60]

In [87]:
l[:10]

[30, 20, 30, 40, 50, 60]

In [88]:
l
type(l)

list

In [89]:
l

[30, 20, 30, 40, 50, 60]

In [90]:
l[:-2]

[30, 20, 30, 40]

In [91]:
l

[30, 20, 30, 40, 50, 60]

In [92]:
l[2:]

[30, 40, 50, 60]

In [93]:
l[:2]

[30, 20]

In [94]:
t

(10, 20, 30, 40)

In [95]:
t[0]

10

In [96]:
t[0]= 20 
# cannot change any value once you decleare cuz tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [97]:
t1

(10, 'amx', True, 5.8, 10)

In [98]:

t

(10, 20, 30, 40)

In [99]:
t.append(50)

AttributeError: 'tuple' object has no attribute 'append'

In [100]:
t.add(50)

AttributeError: 'tuple' object has no attribute 'add'

In [101]:
t

(10, 20, 30, 40)

In [102]:
t.remove(30)

AttributeError: 'tuple' object has no attribute 'remove'

In [103]:
t

(10, 20, 30, 40)

In [104]:
t = t*3
t

(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

In [105]:
t[0] = 20

TypeError: 'tuple' object does not support item assignment

In [106]:
t1

(10, 'amx', True, 5.8, 10)

In [109]:
t2 = t1 * 2 #in this case content has not changed but same t content repeted twice

In [110]:
t2

(10, 'amx', True, 5.8, 10, 10, 'amx', True, 5.8, 10)

In [111]:
t3 = (10,20,[2,6])   #is this valid one & u can declare list inside the tuple

In [112]:
t3

(10, 20, [2, 6])

In [113]:
colors = "red", "green", "blue"
colors
rev = colors[::-1] 
rev

('blue', 'green', 'red')

In [114]:
colors = "red", "green", "blue"
colors
rev = colors[:-1] 
rev

('red', 'green')

In [115]:
colors = "red", "green", "blue"
colors
rev = colors[:-2] 
rev

('red',)

In [116]:
rev = colors[::-1] # reversing order is allowed
rev

('blue', 'green', 'red')

In [120]:
colors

('red', 'green', 'blue')

In [117]:
rev = colors[::-2] # reversing order is allowed
rev

('blue', 'red')

* in python which is the most common data types - range()
* range() datatypes represent a sequence of values
* always immutable
* range() datatypes we have multiple forms lets see one by one
* List insertation order is preserved but set insertation is not preserved

In [122]:
# FORM-1: range(10) -- represents values from 0 to 9 (python index start from 0)

r = range(30) 
#type(r)  
r

range(0, 30)

In [123]:
range(10.0, 11.5) # you cannot declare float argument

TypeError: 'float' object cannot be interpreted as an integer

In [124]:
r

range(0, 30)

In [125]:
# if i need value for 10 values 

for i in r: print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [126]:
r[4]

4

In [127]:
r[0]

0

In [128]:
r[4]

4

In [129]:
r[0:3]

range(0, 3)

In [ ]:


# FORM-1 concept we passed only one argument

**FORM:2 (if we passed 2 arguments)

In [130]:
# i want to generate a sequence of no fro 0 to 99

range(100)

range(0, 100)

In [131]:
# i want to represent number from 10 to 29 then we should not use above one

range(10,30) # repreent no. from 10 to 29 but not 100 & we passed 2 arguments

range(10, 30)

**Form:3 (if we passed 3 arguments)

In [132]:
range(50)

range(0, 50)

In [133]:
range(10,50) # 5 state from 10 to 50 print the output with 5 steps

range(10, 50)

In [134]:
range(10,50,5) # 5 state from 10 to 50 print the output with 5 steps

range(10, 50, 5)

In [135]:
range(10,50,5,6)

TypeError: range expected at most 3 arguments, got 4

In [136]:
range(10,100,10)

range(10, 100, 10)

In [139]:
for i in range(10,100,25):  
    print(i)

10
35
60
85

In [140]:
range(10,20,5,6) #you cannot declare 4 aruguments once becusae max you can assign for 3 arguments or 3 parameter

TypeError: range expected at most 3 arguments, got 4

**set datatype**

Difference between list & set --
* My requirment of the programme is -- Represent group of object as single entity where duplicates are allowed and order is important then we go for LIST
* I dont want dupliacated, & order also not important then we will go for SET
* LIST are represent as [] && SET are represent as {}
* SET object does not support indexing or slicing
* insertation order are not preserved,order & duplicates are not allowed
* index concept are not allowed , hetrogeneuous object are allowed
* set is mutable
* add & remove method is use for SET but append method is used only for LIST

In [142]:
s = {10,20,30,10,20,30,} # is it allowed or not we will check

In [146]:
s #duplicates are not allowed

{10, 20, 30}

In [147]:
s1 = {30,10,20,10,'NARESH',5.0,True} 
s1

{10, 20, 30, 5.0, 'NARESH', True}

In [145]:
s1[1:4]

TypeError: 'set' object is not subscriptable

In [148]:
s

{10, 20, 30}

In [149]:
s[:]   #set object does not support indexing or slicing or subscirptive

TypeError: 'set' object is not subscriptable

In [150]:
s

{10, 20, 30}

In [151]:
s[1:]

TypeError: 'set' object is not subscriptable

In [152]:
s

{10, 20, 30}

In [154]:
s.add(True)  #mutable
s

{True, 10, 20, 30}

In [155]:
s.add('b') 
s

{10, 20, 30, True, 'b'}

In [156]:
s.add('c')

In [157]:
s

{10, 20, 30, True, 'b', 'c'}

In [158]:
s.remove('b') #append function is applicable for list not for the set

In [160]:
s

{10, 20, 30, True, 'c'}

In [161]:
s[0] = 20

TypeError: 'set' object does not support item assignment

In [162]:
s1

{10, 20, 30, 5.0, 'NARESH', True}

In [ ]:
# frozenset exactly same as set but one criteria is immutable

In [163]:
s2 = {10,20,30,40} 
s2

{10, 20, 30, 40}

In [164]:
fs = frozenset(s2)
fs

frozenset({10, 20, 30, 40})

In [165]:
type(fs)

frozenset

In [166]:
fs.add(50) #add, remove such type of concept are not applicable in frozenset
#fs.remove(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [167]:
fs.remove(40)

AttributeError: 'frozenset' object has no attribute 'remove'

**DICTIONARY DATATYPES (dict)

* oxford dictionary -- in oxford dictionary words along with meaning is there
* i can say that key:values
* in the case of list,tuple,set,range,set,frozenset we represent individually & all objects are individually object right guys.
* i want to represent as group of object as pair example -- (rollno:name, fruits:price, mobileno:name)
* dict is very important, very special category compare to all category
* duplicate keys are not allowed but values can be duplicate
* dict are represent as {}// : you can assined with given operator
* keys & values both can be hetrogeneous
* No such type of rule that all keys are integer types & values are string type
* keys & values can any type of object

In [168]:
d = {100:'amx', 200:'shiv', 300:'nar'}
d

{100: 'amx', 200: 'shiv', 300: 'nar'}

In [169]:
type(d)

dict

In [170]:
# i want to create an empty dictionary, now tell me is that set or dict ???

d1 = {}  # always treated as dict
d1
type(d1)

dict

In [171]:
print(type(d1))

<class 'dict'>

In [172]:
# you may ask questiong how to create empty set 

s = set()  
type(s)

set

In [173]:
print(type(s))

<class 'set'>

In [174]:
# i created empty dict

d2 = {} # i want to add some element, so dict is mutable

In [175]:
d2[100] = 'Naresh' # this is the metod to add an object in dictinary & no add,remove function are applicable in dict

In [176]:
d2[200] = 'amx'

In [177]:
d2[300] = 'ABC'

In [178]:
d2

{100: 'Naresh', 200: 'amx', 300: 'ABC'}

In [179]:
d2[True] = 'yyy'
d2

{100: 'Naresh', 200: 'amx', 300: 'ABC', True: 'yyy'}

In [180]:
d2 # duplicates are not allowed but values are changes

{100: 'Naresh', 200: 'amx', 300: 'ABC', True: 'yyy'}

In [181]:
del d2[100] # how to remove key & values in dict

In [182]:
d2

{200: 'amx', 300: 'ABC', True: 'yyy'}

------

## Datatypes & Datastructures are completed ##

In [ ]:
a = b = c = d = 10
print(id(a))
print(id(b))
print(id(c))
print(id(d))

In [ ]:
id(c) is id(d)

In [ ]:
a is b

In [ ]:
a = 5
b = 6
a + b

In [ ]:
a

In [ ]:
A

In [121]:
#From LOKESH GURJER to All Panelists 06:44 PM
import numpy as np
import matplotlib.pyplot as plt
# Dataset generation
data = {'audi':124, 'BMW':98, 'Mercedi':113}
courses = list(data_dict.keys())
values = list(data_dict.values())
fig = plt.figure(figsize = (10, 5))
#  Bar plot
plt.bar(courses, values,
        width = 0.5)

C:\Users\kdata\anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\kdata\anaconda3\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
C:\Users\kdata\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)

NameError: name 'data_dict' is not defined